.container-div {
    position: relative;
    text-align: center;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img {
    max-width: 100%;    
}


